* {
	font-family: "Karla-Regular";
	font-size: 30px;
}

body {
	margin: 0;
	font-size: 28px;
	background: #00a0ff;
}
.header {
	height: 128px;
	background: #000;
}
.panel {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #000;
}
.time {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 54px 0;
}
.time img {
	padding-right: 28px;
	height: 34px;
	width: 34px;
}
.time p {
	color: #fff;
	margin: 0;
}
#messages {
	display: block;
	margin-bottom: 100px;
}
#messages span, strong {
	background: #fff;
	margin-left: 50px;
	display: inline-block;
	padding: 46px 50px 38px 50px;
	margin-bottom: 50px;
	max-width: 77%;
}
#messages span {
	max-width: 77%;
	margin: 0 0 50px 0;
	padding: 46px 50px 78px 50px;
}
input {
	font-size: inherit;
	width: 100%;
    background: #000;
    border: 0px;
    outline: none;
    color: #fff;
    padding: 40px 0 35px 0;
}
input::placeholder { 
	color: #fff;
	font-size: 30px;
	font-family: "Karla-Regular";
}
.inputs {
	display: flex;
}
.input-left {
	max-width: 20%;
	padding-right: 0.5em;
}
.input-left, .input-right {
	flex-grow: 1;
}
